/**
 * @name Gruvbox
 * @description Allows you to customize Discord's native Color Scheme.
 * @author DevilBro
 * @version 1.0.0
 * @authorId 278543574059057154
 * @invite Jx3TjNS
 * @donate https://www.paypal.me/MircoWittrien
 * @patreon https://www.patreon.com/MircoWittrien
 * @website https://mwittrien.github.io/
 * @source https://github.com/mwittrien/BetterDiscordAddons/tree/master/Themes/DiscordRecolor/
*/

@import url('https://mwittrien.github.io/BetterDiscordAddons/Themes/DiscordRecolor/DiscordRecolor.css');

:root {
  --accentcolor: 184,187,38;
  --accentcolor2: 251,73,52;
  --linkcolor: 184,187,38;
  --mentioncolor: 177, 98, 134;
  --textbrightest: 251,241,199;
  --textbrighter: 235,219,178;
  --textbright: 213,196,161;
  --textdark: 189,174,147;
  --textdarker: 168,153,132;
  --textdarkest: 141,129,112;
  --font: Ubuntu;
  --backgroundaccent: 80,73,69;
  --backgroundprimary: 60,56,54;
  --backgroundsecondary: 40,40,40;
  --backgroundsecondaryalt: 60,56,51;
  --backgroundtertiary: 29,32,33;
  --backgroundfloating: 40,40,40;
  --settingsicons: 0;
}

/* Any custom CSS below here */


